@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* p{
    border: 2px solid red;
} */

.br{
    @apply border-red-600 border-[5px];
}
html, body, #root {
    height: 100%; /* This ensures that all parent containers fill the full height of the viewport */
}
